<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>
<app-menu></app-menu>
<div class="loading-indicator" *ngIf="progressSpinnerDlg">
  <p-progressSpinner styleClass="custom-spinner"></p-progressSpinner>
</div>
<div class="layout-content-wrapper">
  <div class="layout-wrapper layout-slim">
    <p-card class="flex-1">
      <xng-breadcrumb [separator]="iconTemplate">
        <ng-container *xngBreadcrumbItem="let breadcrumb; let info = info">
          <i class="{{ info }}"></i>
          <i class="pi pi-angle-right"></i>
          <ng-container>{{ breadcrumb }}</ng-container>
        </ng-container>
        <ng-template #iconTemplate>
          <i class="pi pi-angle-right"></i>
        </ng-template>
      </xng-breadcrumb>
      <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
          <button
            pButton
            pRipple
            label="Nuevo"
            icon="pi pi-plus"
            class="p-button-primary"
            (click)="createForm()"
          ></button>
        </ng-template>
      </p-toolbar>
      <p-table
        #dt
        [responsiveLayout]="responsiveLayout"
        [value]="patients"
        [rows]="10"
        [paginator]="paginatorValue"
        [rowsPerPageOptions]="rowsPerPage"
        [globalFilterFields]="['name', 'gender', 'dateBirth']"
        dataKey="id"
        [currentPageReportTemplate]="templateValue"
        [showCurrentPageReport]="true"
      >
        <ng-template pTemplate="caption">
          <div class="p-d-flex">
            <input
              pInputText
              type="text"
              [(ngModel)]="busqueda"
              placeholder="Búsqueda"
            />
            <button
              pButton
              label="Buscar"
              icon="pi pi-search"
              class="p-button"
              (click)="dt.filterGlobal(busqueda, 'contains')"
            ></button>
            <button
              pButton
              label="Limpiar"
              class="p-button-outlined"
              icon="pi pi-filter-slash"
              (click)="clear(dt)"
            ></button>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="id">
              Consecutivo<p-sortIcon field="id"></p-sortIcon>
            </th>
            <th pSortableColumn="name">
              Nombre del paciente<p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="dateBirth">
              Fecha de nacimiento<p-sortIcon field="dateBirth"></p-sortIcon>
            </th>
            <th pSortableColumn="age">
              Edad en años<p-sortIcon field="age"></p-sortIcon>
            </th>
            <th pSortableColumn="gender">
              Género<p-sortIcon field="gender"></p-sortIcon>
            </th>
            <th>Opciones</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-patient>
          <tr>
            <td>{{ patient.id }}</td>
            <td>{{ patient.name }} {{ patient.surname }}</td>
            <td>{{ patient.dateBirth }}</td>
            <td>{{ patient.age }}</td>
            <td>{{ patient.gender }}</td>
            <td>
              <button
                pButton
                pRipple
                icon="pi pi-pencil"
                class="p-button-rounded p-button-outlined p-button-success p-mr-2"
                (click)="editForm(patient)"
                pTooltip="Editar"
                tooltipPosition="bottom"
              ></button>

              <button
                [disabled]="patient.numberPrescription >= 3"
                pButton
                pRipple
                icon="pi pi-list"
                (click)="createFormDrugPrescription(patient)"
                class="p-button-rounded p-button-outlined p-button-primary p-mr-2"
                pTooltip="Prescribir medicamentos"
                tooltipPosition="bottom"
              ></button>

              <button
                pButton
                pRipple
                icon="pi pi-eye"
                class="p-button-rounded p-button-outlined p-button-primary p-mr-2"
                pTooltip="Ver Prescripciones de medicamentos"
                (click)="showPrescriptions(patient)"
                tooltipPosition="bottom"
              ></button>
              <button
                pButton
                pRipple
                icon="pi pi-trash"
                class="p-button-rounded p-button-outlined p-button-danger p-mr-2"
                (click)="confirm($event, patient)"
                pTooltip="Eliminar"
                tooltipPosition="bottom"
              ></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="p-d-flex p-ai-center p-jc-between">
            En total hay
            {{ patients ? patients.length : 0 }} Pacientes.
          </div>
        </ng-template>
      </p-table>
    </p-card>
    <p-dialog
      [(visible)]="patientDialog"
      header="Información de paciente"
      [modal]="true"
    >
      <p-card [formGroup]="formPatient" id="form">
        <ng-template pTemplate="content">
          <div class="flex flex-row">
            <div class="flex flex-column">
              <div class="p-fluid">
                <div class="p-field">
                  <h5>Nombre</h5>
                  <input
                    formControlName="name"
                    type="text"
                    pInputText
                    id="name"
                    required
                  />
                </div>
                <small
                  class="ng-invalid ng-dirty"
                  *ngIf="
                    formPatient.controls['name'].hasError('maxlength') &&
                    formPatient.controls['name']?.touched
                  "
                  >El nombre excede el número de caracteres permitido(99)</small
                >
                <small
                  class="ng-invalid ng-dirty"
                  *ngIf="
                    formPatient.controls['name'].hasError('required') &&
                    formPatient.controls['name']?.touched
                  "
                  >El nombre es requerido</small
                >
                <small
                  class="ng-invalid ng-dirty"
                  *ngIf="
                    formPatient.controls['name'].hasError('minlength') &&
                    formPatient.controls['name']?.touched
                  "
                  >El mínimo de caracteres permitidos es 1</small
                >
                <div class="p-field">
                  <h5>Apellido</h5>
                  <input
                    formControlName="surname"
                    type="text"
                    pInputText
                    id="surname"
                    required
                  />
                </div>

                <small
                  class="ng-invalid ng-dirty"
                  *ngIf="
                    formPatient.controls['surname'].hasError('maxlength') &&
                    formPatient.controls['surname']?.touched
                  "
                  >El apellido excede el número de caracteres
                  permitido(99)</small
                >
                <small
                  class="ng-invalid ng-dirty"
                  *ngIf="
                    formPatient.controls['surname'].hasError('required') &&
                    formPatient.controls['surname']?.touched
                  "
                  >El apellido es requerido</small
                >
                <small
                  class="ng-invalid ng-dirty"
                  *ngIf="
                    formPatient.controls['surname'].hasError('minlength') &&
                    formPatient.controls['surname']?.touched
                  "
                  >El mínimo de caracteres permitidos es 1</small
                >
                <div class="p-field"></div>
                <div class="p-field">
                  <h5>Fecha de nacimiento</h5>
                  <p-calendar
                    formControlName="dateBirth"
                    appendTo="body"
                    [maxDate]="maxDate"
                    [readonlyInput]="true"
                    name="date"
                    dateFormat="dd/mm/yy"
                    [showIcon]="true"
                    inputId="dateBirth"
                  ></p-calendar>
                  <small
                    class="ng-invalid ng-dirty"
                    *ngIf="
                      formPatient.controls['dateBirth'].hasError('required') &&
                      formPatient.controls['dateBirth']?.touched
                    "
                    >La fecha de nacimiento es requerida</small
                  >
                </div>
                <div class="p-field">
                  <h5>Género</h5>
                  <p-dropdown
                    [options]="genders"
                    optionLabel="name"
                    optionValue="name"
                    formControlName="gender"
                    placeholder="Seleccione un género"
                    [showClear]="true"
                  ></p-dropdown>
                </div>
                <small
                  class="ng-invalid ng-dirty"
                  *ngIf="
                    formPatient.controls['gender'].hasError('required') &&
                    formPatient.controls['gender']?.touched
                  "
                  >El género es requerido</small
                >
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template pTemplate="footer">
          <div class="flex flex-column">
            <div class="flex flex-row justify-content-between">
              <button
                pButton
                pRipple
                label="Cancelar"
                icon="pi pi-times"
                class="p-button-text p-button-warning"
                (click)="hideDialog()"
              ></button>
              <button
                pButton
                pRipple
                id="submit"
                label="Guardar"
                icon="pi pi-check"
                class="p-button-text"
                (click)="submitPatient()"
              ></button>
            </div>
          </div>
          <div class="loading-indicator" *ngIf="progressSpinnerDlg">
            <p-progressSpinner></p-progressSpinner>
          </div>
        </ng-template>
      </p-card>
    </p-dialog>

    <p-dialog
      [(visible)]="prescriptionDialog"
      header="Información de prescripciones"
      [modal]="true"
    >
      <p-table
        #dtPrescription
        [responsiveLayout]="responsiveLayout"
        [value]="drugsPrescriptions"
        [rows]="10"
        [paginator]="paginatorValue"
        [rowsPerPageOptions]="rowsPerPage"
        [globalFilterFields]="['name', 'dateInsert']"
        dataKey="id"
        [currentPageReportTemplate]="templateValue"
        [showCurrentPageReport]="true"
      >
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="id">
              Consecutivo<p-sortIcon field="id"></p-sortIcon>
            </th>
            <th pSortableColumn="name">
              Nombre del medicamento<p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="dateInsert">
              Fecha de prescripción<p-sortIcon
                field="dateInsert"
              ></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-prescription>
          <tr>
            <td>{{ prescription.id }}</td>
            <td>{{ prescription.name }}</td>
            <td>{{ prescription.dateInsert }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="p-d-flex p-ai-center p-jc-between">
            En total hay
            {{ drugsPrescriptions ? drugsPrescriptions.length : 0 }}
            Prescripciones de medicamentos.
          </div>
        </ng-template>
      </p-table>
    </p-dialog>

    <p-dialog
      [(visible)]="drugPrescriptionDialogCreate"
      header="Prescribir medicamento"
      [modal]="true"
    >
      <p-card [formGroup]="formDrugPrescription" id="formDrug">
        <ng-template pTemplate="content">
          <div class="flex flex-row">
            <div class="flex flex-column">
              <div class="p-fluid">
                <div class="p-field">
                  <h5>Medicamento</h5>
                  <p-dropdown
                    [options]="drugs"
                    optionLabel="name"
                    appendTo="body"
                    [filter]="true"
                    filterBy="name"
                    (onChange)="changeOption()"
                    formControlName="drugId"
                    placeholder="Seleccione un medicamento"
                    [showClear]="true"
                  ></p-dropdown>
                </div>
                <small
                class="ng-invalid ng-dirty"
                *ngIf="
                  formDrugPrescription.controls['drugId'].hasError('required') &&
                  formDrugPrescription.controls['drugId']?.touched
                "
                >El género es requerido</small
              >
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template pTemplate="footer">
          <div class="flex flex-column">
            <div class="flex flex-row justify-content-between">
              <button
                pButton
                pRipple
                label="Cancelar"
                icon="pi pi-times"
                class="p-button-text p-button-warning"
                (click)="hideDialogPrescription()"
              ></button>
              <button
                pButton
                pRipple
                id="submit"
                label="Guardar"
                [disabled]="!canPrescripted"
                icon="pi pi-check"
                class="p-button-text"
                (click)="submitDrugPrescription()"
              ></button>
            </div>
          </div>
          <div class="loading-indicator" *ngIf="progressSpinnerDlg">
            <p-progressSpinner></p-progressSpinner>
          </div>
        </ng-template>
      </p-card>
    </p-dialog>
  </div>
</div>
