.p-component {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
        Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 1rem;
    font-weight: 400;
}

.p-component:disabled,
.p-disabled {
    opacity: 0.6;
}

.p-error {
    color: #f44336;
}

.p-calendar.ng-dirty.ng-invalid>.p-calendar>.p-inputtext {
    border-color: #f44336;
}

:host ::ng-deep .p-calendar {
    min-width: 13rem;
    width: 24rem;
}

.p-dropdown {
    background: #fff;
    border: 1px solid #ced4da;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s,
        box-shadow 0.2s;
    border-radius: 3px;
}

.p-dropdown:not(.p-disabled):hover {
    border-color: #2358b7;
}

.p-dropdown:not(.p-disabled).p-focus {
    outline: 0;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #a6d5fa;
    border-color: #2358b7;
}

.p-dropdown.p-dropdown-clearable .p-dropdown-label {
    padding-right: 1.5rem;
}

.p-dropdown .p-dropdown-label {
    background: 0 0;
    border: 0;
}

.p-dropdown .p-dropdown-label.p-placeholder {
    color: #6c757d;
}

.p-dropdown .p-dropdown-label:enabled:focus {
    outline: 0;
    box-shadow: none;
}

.p-dropdown .p-dropdown-clear-icon {
    color: #6c757d;
    right: 2.357rem;
}

.p-dropdown-panel .p-dropdown-header .p-dropdown-filter {
    padding-right: 1.5rem;
    margin-right: -1.5rem;
}

.p-dropdown-panel .p-dropdown-header .p-dropdown-filter-icon {
    right: 0.5rem;
    color: #6c757d;
}

.p-dropdown-panel .p-dropdown-items.p-dropdown-virtualscroll .cdk-virtual-scroll-content-wrapper,
.p-dropdown-panel .p-dropdown-items:not(.p-dropdown-virtualscroll) {
    padding: 0.5rem 0;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    margin: 0;
    padding: 0.5rem 1rem;
    border: 0;
    color: #495057;
    background: 0 0;
    transition: box-shadow 0.2s;
    border-radius: 0;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    color: #495057;
    background: #e3f2fd;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
    color: #495057;
    background: #e9ecef;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-empty-message {
    padding: 0.5rem 1rem;
    color: #495057;
    background: 0 0;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item-group {
    margin: 0;
    padding: 0.75rem 1rem;
    color: #495057;
    background: #fff;
    font-weight: 600;
}

p-dropdown.ng-dirty.ng-invalid>.p-dropdown {
    border-color: #f44336;
}

small.ng-dirty.ng-invalid {
    color: #f44336;
}

.p-fluid .p- .p-button {
    width: auto;
}

.p-fluid .p- .p-button.p-button-icon-only {
    width: 2.357rem;
}

p-inputmask.ng-dirty.ng-invalid>.p-inputtext,
p-inputnumber.ng-dirty.ng-invalid>.p-inputnumber>.p-inputtext {
    border-color: #f44336;
}

.p-inputswitch {
    width: 3rem;
    height: 1.75rem;
}

.p-inputswitch .p-inputswitch-slider {
    background: #ced4da;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s,
        box-shadow 0.2s;
    border-radius: 30px;
}

.p-inputswitch .p-inputswitch-slider:before {
    background: #fff;
    width: 1.25rem;
    height: 1.25rem;
    left: 0.25rem;
    margin-top: -0.625rem;
    border-radius: 50%;
    transition-duration: 0.2s;
}

.p-inputswitch.p-focus .p-inputswitch-slider {
    outline: 0;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #a6d5fa;
}

.p-inputswitch:not(.p-disabled):hover .p-inputswitch-slider {
    background: #b6bfc8;
}

.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
    background: #2358b7;
}

.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
    transform: translateX(1.25rem);
    background: #fff;
}

.p-inputswitch.p-inputswitch-checked:not(.p-disabled):hover .p-inputswitch-slider {
    background: #2358b7;
}

p-inputswitch.ng-dirty.ng-invalid>.p-inputswitch {
    border-color: #f44336;
}

.p-inputtext {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
        Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 1rem;
    color: #495057;
    background: #fff;
    padding: 0.5rem;
    border: 1px solid #ced4da;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s,
        box-shadow 0.2s;
    appearance: none;
    border-radius: 3px;
}

.p-inputtext:enabled:hover {
    border-color: #2358b7;
}

.p-inputtext:enabled:focus {
    outline: 0;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #a6d5fa;
    border-color: #2358b7;
}

.p-inputtext.ng-dirty.ng-invalid {
    border-color: #f44336;
}

.p-inputtext.p-inputtext-sm {
    font-size: 0.875rem;
    padding: 0.4375rem;
}

.p-inputtext.p-inputtext-lg {
    font-size: 1.25rem;
    padding: 0.625rem;
}

.p-input-icon-left>i:first-of-type {
    left: 0.5rem;
    color: #6c757d;
}

.p-input-icon-left>.p-inputtext {
    padding-left: 2rem;
}

.p-input-icon-left.p-float-label>label {
    left: 2rem;
}

.p-input-icon-right>i:last-of-type {
    right: 0.5rem;
    color: #6c757d;
}

.p-input-icon-right>.p-inputtext {
    padding-right: 2rem;
}

::-webkit-input-placeholder {
    color: #6c757d;
}

:-moz-placeholder {
    color: #6c757d;
}

::-moz-placeholder {
    color: #6c757d;
}

:-ms-input-placeholder {
    color: #6c757d;
}

.p-inputtext-sm .p-inputtext {
    font-size: 0.875rem;
    padding: 0.4375rem;
}

.p-inputtext-lg .p-inputtext {
    font-size: 1.25rem;
    padding: 0.625rem;
}

.p-listbox {
    background: #fff;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: 3px;
}

.p-listbox .p-listbox-header {
    padding: 0.5rem 1rem;
    border-bottom: 0;
    color: #495057;
    background: #f8f9fa;
    margin: 0;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.p-listbox .p-listbox-header .p-listbox-filter {
    padding-right: 1.5rem;
}

.p-listbox .p-listbox-header .p-listbox-filter-icon {
    right: 0.5rem;
    color: #6c757d;
}

.p-listbox .p-listbox-list {
    padding: 0.5rem 0;
}

.p-listbox .p-listbox-list .p-listbox-item {
    margin: 0;
    padding: 0.5rem 1rem;
    border: 0;
    color: #495057;
    transition: box-shadow 0.2s;
    border-radius: 0;
}

.p-listbox .p-listbox-list .p-listbox-item.p-highlight {
    color: #495057;
    background: #e3f2fd;
}

.p-listbox .p-listbox-list .p-listbox-item:focus {
    outline: 0;
    outline-offset: 0;
    box-shadow: inset 0 0 0 0.15rem #a6d5fa;
}

.p-listbox .p-listbox-list .p-listbox-item .p-checkbox {
    margin-right: 0.5rem;
}

.p-listbox .p-listbox-list .p-listbox-item-group {
    margin: 0;
    padding: 0.75rem 1rem;
    color: #495057;
    background: #fff;
    font-weight: 600;
}

.p-listbox .p-listbox-list .p-listbox-empty-message {
    padding: 0.5rem 1rem;
    color: #495057;
    background: 0 0;
}

.p-listbox:not(.p-disabled) .p-listbox-item:not(.p-highlight):not(.p-disabled):hover {
    color: #495057;
    background: #e9ecef;
}

p-listbox.ng-dirty.ng-invalid>.p-listbox {
    border-color: #f44336;
}

.p-multiselect {
    background: #fff;
    border: 1px solid #ced4da;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s,
        box-shadow 0.2s;
    border-radius: 3px;
}

.p-multiselect:not(.p-disabled):hover {
    border-color: #2358b7;
}

.p-multiselect:not(.p-disabled).p-focus {
    outline: 0;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #a6d5fa;
    border-color: #2358b7;
}

.p-multiselect .p-multiselect-label {
    padding: 0.5rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s,
        box-shadow 0.2s;
}

.p-multiselect .p-multiselect-label.p-placeholder {
    color: #6c757d;
}

.p-multiselect.p-multiselect-chip .p-multiselect-token {
    padding: 0.25rem 0.5rem;
    margin-right: 0.5rem;
    background: #e3f2fd;
    color: #495057;
    border-radius: 3px;
}

.p-multiselect.p-multiselect-chip .p-multiselect-token .p-multiselect-token-icon {
    margin-left: 0.5rem;
}

.p-multiselect .p-multiselect-trigger {
    background: 0 0;
    color: #6c757d;
    width: 2.357rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.p-inputwrapper-filled .p-multiselect.p-multiselect-chip .p-multiselect-label {
    padding: 0.25rem 0.5rem;
}

.p-multiselect-panel {
    background: #fff;
    color: #495057;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
        0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.p-multiselect-panel .p-multiselect-header {
    padding: 0.5rem 1rem;
    border-bottom: 0;
    color: #495057;
    background: #f8f9fa;
    margin: 0;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.p-multiselect-panel .p-multiselect-header .p-multiselect-filter-container .p-inputtext {
    padding-right: 1.5rem;
}

.p-multiselect-panel .p-multiselect-header .p-multiselect-filter-container .p-multiselect-filter-icon {
    right: 0.5rem;
    color: #6c757d;
}

.p-multiselect-panel .p-multiselect-header .p-checkbox {
    margin-right: 0.5rem;
}

.p-multiselect-panel .p-multiselect-header .p-multiselect-close {
    margin-left: 0.5rem;
    width: 2rem;
    height: 2rem;
    color: #6c757d;
    border: 0;
    background: 0 0;
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}

.p-multiselect-panel .p-multiselect-header .p-multiselect-close:enabled:hover {
    color: #495057;
    border-color: transparent;
    background: #e9ecef;
}

.p-multiselect-panel .p-multiselect-header .p-multiselect-close:focus {
    outline: 0;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #a6d5fa;
}

.p-multiselect-panel .p-multiselect-items.p-multiselect-virtualscroll .cdk-virtual-scroll-content-wrapper,
.p-multiselect-panel .p-multiselect-items:not(.p-multiselect-virtualscroll) {
    padding: 0.5rem 0;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item {
    margin: 0;
    padding: 0.5rem 1rem;
    border: 0;
    color: #495057;
    background: 0 0;
    transition: box-shadow 0.2s;
    border-radius: 0;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
    color: #495057;
    background: #e3f2fd;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item:not(.p-highlight):not(.p-disabled):hover {
    color: #495057;
    background: #e9ecef;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item:focus {
    outline: 0;
    outline-offset: 0;
    box-shadow: inset 0 0 0 0.15rem #a6d5fa;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item .p-checkbox {
    margin-right: 0.5rem;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item-group {
    margin: 0;
    padding: 0.75rem 1rem;
    color: #495057;
    background: #fff;
    font-weight: 600;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-empty-message {
    padding: 0.5rem 1rem;
    color: #495057;
    background: 0 0;
}

p-multiselect.ng-dirty.ng-invalid>.p-multiselect {
    border-color: #f44336;
}

.p-button {
    color: #fff;
    background: #2358b7;
    border: 1px solid #2358b7;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s,
        box-shadow 0.2s;
    border-radius: 3px;
}

.p-button:enabled:hover {
    background: #2358b7;
    color: #fff;
    border-color: #2358b7;
}

.p-button:enabled:active {
    background: #0b7ad1;
    color: #fff;
    border-color: #0b7ad1;
}

.p-button.p-button-text {
    background-color: transparent;
    color: #2358b7;
    border-color: transparent;
}

.p-button.p-button-text:enabled:hover {
    background: rgba(33, 150, 243, 0.04);
    color: #2358b7;
    border-color: transparent;
}

.p-button.p-button-text:enabled:active {
    background: rgba(33, 150, 243, 0.16);
    color: #2358b7;
    border-color: transparent;
}

.p-button.p-button-text.p-button-plain {
    color: #6c757d;
}

.p-button.p-button-text.p-button-plain:enabled:hover {
    background: #e9ecef;
    color: #6c757d;
}

.p-button.p-button-text.p-button-plain:enabled:active {
    background: #dee2e6;
    color: #6c757d;
}

.p-button:focus {
    outline: 0;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #a6d5fa;
}

.p-button .p-button-icon-left {
    margin-right: 0.5rem;
}

.p-button .p-button-icon-right {
    margin-left: 0.5rem;
}

.p-button .p-button-icon-bottom {
    margin-top: 0.5rem;
}

.p-button .p-button-icon-top {
    margin-bottom: 0.5rem;
}

.p-button .p-badge {
    margin-left: 0.5rem;
    min-width: 1rem;
    height: 1rem;
    line-height: 1rem;
    color: #2358b7;
    background-color: #fff;
}

.p-button.p-button-raised {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.p-button.p-button-rounded {
    border-radius: 2rem;
}

.p-button.p-button-icon-only {
    width: 2.357rem;
    padding: 0.5rem 0;
}

.p-button.p-button-icon-only .p-button-icon-left,
.p-button.p-button-icon-only .p-button-icon-right {
    margin: 0;
}

.p-button.p-button-icon-only.p-button-rounded {
    border-radius: 50%;
    height: 2.357rem;
}

.p-button.p-button-sm {
    font-size: 0.875rem;
    padding: 0.4375rem 0.875rem;
}

.p-button.p-button-sm .p-button-icon {
    font-size: 0.875rem;
}

.p-button.p-button-lg {
    font-size: 1.25rem;
    padding: 0.625rem 1.25rem;
}

.p-button.p-button-lg .p-button-icon {
    font-size: 1.25rem;
}

.p-button.p-button-loading-label-only .p-button-label {
    margin-left: 0.5rem;
}

.p-button.p-button-loading-label-only .p-button-loading-icon {
    margin-right: 0;
}

.p-fluid .p-button {
    width: 100%;
}

.p-fluid .p-button-icon-only {
    width: 2.357rem;
}

.p-fluid .p-buttonset {
    display: flex;
}

.p-fluid .p-buttonset .p-button {
    flex: 1;
}

.p-button.p-button-secondary,
.p-buttonset.p-button-secondary>.p-button,
.p-splitbutton.p-button-secondary>.p-button {
    color: #fff;
    background: #607d8b;
    border: 1px solid #607d8b;
}

.p-button.p-button-secondary:enabled:hover,
.p-buttonset.p-button-secondary>.p-button:enabled:hover,
.p-splitbutton.p-button-secondary>.p-button:enabled:hover {
    background: #56717d;
    color: #fff;
    border-color: #56717d;
}

.p-button.p-button-secondary:enabled:focus,
.p-buttonset.p-button-secondary>.p-button:enabled:focus,
.p-splitbutton.p-button-secondary>.p-button:enabled:focus {
    box-shadow: 0 0 0 0.2rem #beccd2;
}

.p-button.p-button-secondary:enabled:active,
.p-buttonset.p-button-secondary>.p-button:enabled:active,
.p-splitbutton.p-button-secondary>.p-button:enabled:active {
    background: #4d646f;
    color: #fff;
    border-color: #4d646f;
}

.p-button.p-button-secondary.p-button-outlined,
.p-buttonset.p-button-secondary>.p-button.p-button-outlined,
.p-splitbutton.p-button-secondary>.p-button.p-button-outlined {
    background-color: transparent;
    color: #607d8b;
    border: 1px solid;
}

.p-button.p-button-secondary.p-button-outlined:enabled:hover,
.p-buttonset.p-button-secondary>.p-button.p-button-outlined:enabled:hover,
.p-splitbutton.p-button-secondary>.p-button.p-button-outlined:enabled:hover {
    background: rgba(96, 125, 139, 0.04);
    color: #607d8b;
    border: 1px solid;
}

.p-button.p-button-secondary.p-button-outlined:enabled:active,
.p-buttonset.p-button-secondary>.p-button.p-button-outlined:enabled:active,
.p-splitbutton.p-button-secondary>.p-button.p-button-outlined:enabled:active {
    background: rgba(96, 125, 139, 0.16);
    color: #607d8b;
    border: 1px solid;
}

.p-button.p-button-secondary.p-button-text,
.p-buttonset.p-button-secondary>.p-button.p-button-text,
.p-splitbutton.p-button-secondary>.p-button.p-button-text {
    background-color: transparent;
    color: #607d8b;
    border-color: transparent;
}

.p-button.p-button-secondary.p-button-text:enabled:hover,
.p-buttonset.p-button-secondary>.p-button.p-button-text:enabled:hover,
.p-splitbutton.p-button-secondary>.p-button.p-button-text:enabled:hover {
    background: rgba(96, 125, 139, 0.04);
    border-color: transparent;
    color: #607d8b;
}

.p-button.p-button-secondary.p-button-text:enabled:active,
.p-buttonset.p-button-secondary>.p-button.p-button-text:enabled:active,
.p-splitbutton.p-button-secondary>.p-button.p-button-text:enabled:active {
    background: rgba(96, 125, 139, 0.16);
    border-color: transparent;
    color: #607d8b;
}

.p-button.p-button-info,
.p-buttonset.p-button-info>.p-button,
.p-splitbutton.p-button-info>.p-button {
    color: #fff;
    background: #0288d1;
    border: 1px solid #0288d1;
}

.p-button.p-button-info:enabled:hover,
.p-buttonset.p-button-info>.p-button:enabled:hover,
.p-splitbutton.p-button-info>.p-button:enabled:hover {
    background: #027abc;
    color: #fff;
    border-color: #027abc;
}

.p-button.p-button-info:enabled:focus,
.p-buttonset.p-button-info>.p-button:enabled:focus,
.p-splitbutton.p-button-info>.p-button:enabled:focus {
    box-shadow: 0 0 0 0.2rem #89d4fe;
}

.p-button.p-button-info:enabled:active,
.p-buttonset.p-button-info>.p-button:enabled:active,
.p-splitbutton.p-button-info>.p-button:enabled:active {
    background: #026da7;
    color: #fff;
    border-color: #026da7;
}

.p-button.p-button-info.p-button-outlined,
.p-buttonset.p-button-info>.p-button.p-button-outlined,
.p-splitbutton.p-button-info>.p-button.p-button-outlined {
    background-color: transparent;
    color: #0288d1;
    border: 1px solid;
}

.p-button.p-button-info.p-button-outlined:enabled:hover,
.p-buttonset.p-button-info>.p-button.p-button-outlined:enabled:hover,
.p-splitbutton.p-button-info>.p-button.p-button-outlined:enabled:hover {
    background: rgba(2, 136, 209, 0.04);
    color: #0288d1;
    border: 1px solid;
}

.p-button.p-button-info.p-button-outlined:enabled:active,
.p-buttonset.p-button-info>.p-button.p-button-outlined:enabled:active,
.p-splitbutton.p-button-info>.p-button.p-button-outlined:enabled:active {
    background: rgba(2, 136, 209, 0.16);
    color: #0288d1;
    border: 1px solid;
}

.p-button.p-button-info.p-button-text,
.p-buttonset.p-button-info>.p-button.p-button-text,
.p-splitbutton.p-button-info>.p-button.p-button-text {
    background-color: transparent;
    color: #0288d1;
    border-color: transparent;
}

.p-button.p-button-info.p-button-text:enabled:hover,
.p-buttonset.p-button-info>.p-button.p-button-text:enabled:hover,
.p-splitbutton.p-button-info>.p-button.p-button-text:enabled:hover {
    background: rgba(2, 136, 209, 0.04);
    border-color: transparent;
    color: #0288d1;
}

.p-button.p-button-info.p-button-text:enabled:active,
.p-buttonset.p-button-info>.p-button.p-button-text:enabled:active,
.p-splitbutton.p-button-info>.p-button.p-button-text:enabled:active {
    background: rgba(2, 136, 209, 0.16);
    border-color: transparent;
    color: #0288d1;
}

.p-button.p-button-success,
.p-buttonset.p-button-success>.p-button,
.p-splitbutton.p-button-success>.p-button {
    color: #fff;
    background: #689f38;
    border: 1px solid #689f38;
}

.p-button.p-button-success:enabled:hover,
.p-buttonset.p-button-success>.p-button:enabled:hover,
.p-splitbutton.p-button-success>.p-button:enabled:hover {
    background: #5e8f32;
    color: #fff;
    border-color: #5e8f32;
}

.p-button.p-button-success:enabled:focus,
.p-buttonset.p-button-success>.p-button:enabled:focus,
.p-splitbutton.p-button-success>.p-button:enabled:focus {
    box-shadow: 0 0 0 0.2rem #c2e0a8;
}

.p-button.p-button-success:enabled:active,
.p-buttonset.p-button-success>.p-button:enabled:active,
.p-splitbutton.p-button-success>.p-button:enabled:active {
    background: #537f2d;
    color: #fff;
    border-color: #537f2d;
}

.p-button.p-button-success.p-button-outlined,
.p-buttonset.p-button-success>.p-button.p-button-outlined,
.p-splitbutton.p-button-success>.p-button.p-button-outlined {
    background-color: transparent;
    color: #689f38;
    border: 1px solid;
}

.p-button.p-button-success.p-button-outlined:enabled:hover,
.p-buttonset.p-button-success>.p-button.p-button-outlined:enabled:hover,
.p-splitbutton.p-button-success>.p-button.p-button-outlined:enabled:hover {
    background: rgba(104, 159, 56, 0.04);
    color: #689f38;
    border: 1px solid;
}

.p-button.p-button-success.p-button-outlined:enabled:active,
.p-buttonset.p-button-success>.p-button.p-button-outlined:enabled:active,
.p-splitbutton.p-button-success>.p-button.p-button-outlined:enabled:active {
    background: rgba(104, 159, 56, 0.16);
    color: #689f38;
    border: 1px solid;
}

.p-button.p-button-success.p-button-text,
.p-buttonset.p-button-success>.p-button.p-button-text,
.p-splitbutton.p-button-success>.p-button.p-button-text {
    background-color: transparent;
    color: #689f38;
    border-color: transparent;
}

.p-button.p-button-success.p-button-text:enabled:hover,
.p-buttonset.p-button-success>.p-button.p-button-text:enabled:hover,
.p-splitbutton.p-button-success>.p-button.p-button-text:enabled:hover {
    background: rgba(104, 159, 56, 0.04);
    border-color: transparent;
    color: #689f38;
}

.p-button.p-button-success.p-button-text:enabled:active,
.p-buttonset.p-button-success>.p-button.p-button-text:enabled:active,
.p-splitbutton.p-button-success>.p-button.p-button-text:enabled:active {
    background: rgba(104, 159, 56, 0.16);
    border-color: transparent;
    color: #689f38;
}

.p-button.p-button-warning,
.p-buttonset.p-button-warning>.p-button,
.p-splitbutton.p-button-warning>.p-button {
    color: #212529;
    background: #dd4b3c;
    border: 1px solid #dd4b3c;
}

.p-button.p-button-warning:enabled:hover,
.p-buttonset.p-button-warning>.p-button:enabled:hover,
.p-splitbutton.p-button-warning>.p-button:enabled:hover {
    background: #fab710;
    color: #212529;
    border-color: #fab710;
}

.p-button.p-button-warning:enabled:focus,
.p-buttonset.p-button-warning>.p-button:enabled:focus,
.p-splitbutton.p-button-warning>.p-button:enabled:focus {
    box-shadow: 0 0 0 0.2rem #fde6ab;
}

.p-button.p-button-warning:enabled:active,
.p-buttonset.p-button-warning>.p-button:enabled:active,
.p-splitbutton.p-button-warning>.p-button:enabled:active {
    background: #e8a704;
    color: #212529;
    border-color: #e8a704;
}

.p-button.p-button-warning.p-button-outlined,
.p-buttonset.p-button-warning>.p-button.p-button-outlined,
.p-splitbutton.p-button-warning>.p-button.p-button-outlined {
    background-color: transparent;
    color: #dd4b3c;
    border: 1px solid;
}

.p-button.p-button-warning.p-button-outlined:enabled:hover,
.p-buttonset.p-button-warning>.p-button.p-button-outlined:enabled:hover,
.p-splitbutton.p-button-warning>.p-button.p-button-outlined:enabled:hover {
    background: rgba(251, 192, 45, 0.04);
    color: #dd4b3c;
    border: 1px solid;
}

.p-button.p-button-warning.p-button-outlined:enabled:active,
.p-buttonset.p-button-warning>.p-button.p-button-outlined:enabled:active,
.p-splitbutton.p-button-warning>.p-button.p-button-outlined:enabled:active {
    background: rgba(251, 192, 45, 0.16);
    color: #dd4b3c;
    border: 1px solid;
}

.p-button.p-button-warning.p-button-text,
.p-buttonset.p-button-warning>.p-button.p-button-text,
.p-splitbutton.p-button-warning>.p-button.p-button-text {
    background-color: transparent;
    color: #dd4b3c;
    border-color: transparent;
}

.p-button.p-button-warning.p-button-text:enabled:hover,
.p-buttonset.p-button-warning>.p-button.p-button-text:enabled:hover,
.p-splitbutton.p-button-warning>.p-button.p-button-text:enabled:hover {
    background: rgba(251, 192, 45, 0.04);
    border-color: transparent;
    color: #dd4b3c;
}

.p-button.p-button-warning.p-button-text:enabled:active,
.p-buttonset.p-button-warning>.p-button.p-button-text:enabled:active,
.p-splitbutton.p-button-warning>.p-button.p-button-text:enabled:active {
    background: rgba(251, 192, 45, 0.16);
    border-color: transparent;
    color: #dd4b3c;
}

.p-button.p-button-help,
.p-buttonset.p-button-help>.p-button,
.p-splitbutton.p-button-help>.p-button {
    color: #fff;
    background: #9c27b0;
    border: 1px solid #9c27b0;
}

.p-button.p-button-help:enabled:hover,
.p-buttonset.p-button-help>.p-button:enabled:hover,
.p-splitbutton.p-button-help>.p-button:enabled:hover {
    background: #8c239e;
    color: #fff;
    border-color: #8c239e;
}

.p-button.p-button-help:enabled:focus,
.p-buttonset.p-button-help>.p-button:enabled:focus,
.p-splitbutton.p-button-help>.p-button:enabled:focus {
    box-shadow: 0 0 0 0.2rem #df9eea;
}

.p-button.p-button-help:enabled:active,
.p-buttonset.p-button-help>.p-button:enabled:active,
.p-splitbutton.p-button-help>.p-button:enabled:active {
    background: #7d1f8d;
    color: #fff;
    border-color: #7d1f8d;
}

.p-button.p-button-help.p-button-outlined,
.p-buttonset.p-button-help>.p-button.p-button-outlined,
.p-splitbutton.p-button-help>.p-button.p-button-outlined {
    background-color: transparent;
    color: #9c27b0;
    border: 1px solid;
}

.p-button.p-button-help.p-button-outlined:enabled:hover,
.p-buttonset.p-button-help>.p-button.p-button-outlined:enabled:hover,
.p-splitbutton.p-button-help>.p-button.p-button-outlined:enabled:hover {
    background: rgba(156, 39, 176, 0.04);
    color: #9c27b0;
    border: 1px solid;
}

.p-button.p-button-help.p-button-outlined:enabled:active,
.p-buttonset.p-button-help>.p-button.p-button-outlined:enabled:active,
.p-splitbutton.p-button-help>.p-button.p-button-outlined:enabled:active {
    background: rgba(156, 39, 176, 0.16);
    color: #9c27b0;
    border: 1px solid;
}

.p-button.p-button-help.p-button-text,
.p-buttonset.p-button-help>.p-button.p-button-text,
.p-splitbutton.p-button-help>.p-button.p-button-text {
    background-color: transparent;
    color: #9c27b0;
    border-color: transparent;
}

.p-button.p-button-help.p-button-text:enabled:hover,
.p-buttonset.p-button-help>.p-button.p-button-text:enabled:hover,
.p-splitbutton.p-button-help>.p-button.p-button-text:enabled:hover {
    background: rgba(156, 39, 176, 0.04);
    border-color: transparent;
    color: #9c27b0;
}

.p-button.p-button-help.p-button-text:enabled:active,
.p-buttonset.p-button-help>.p-button.p-button-text:enabled:active,
.p-splitbutton.p-button-help>.p-button.p-button-text:enabled:active {
    background: rgba(156, 39, 176, 0.16);
    border-color: transparent;
    color: #9c27b0;
}

.p-button.p-button-danger,
.p-buttonset.p-button-danger>.p-button,
.p-splitbutton.p-button-danger>.p-button {
    color: #fff;
    background: #d32f2f;
    border: 1px solid #d32f2f;
}

.p-button.p-button-danger:enabled:hover,
.p-buttonset.p-button-danger>.p-button:enabled:hover,
.p-splitbutton.p-button-danger>.p-button:enabled:hover {
    background: #c02929;
    color: #fff;
    border-color: #c02929;
}

.p-button.p-button-danger:enabled:focus,
.p-buttonset.p-button-danger>.p-button:enabled:focus,
.p-splitbutton.p-button-danger>.p-button:enabled:focus {
    box-shadow: 0 0 0 0.2rem #edacac;
}

.p-button.p-button-danger:enabled:active,
.p-buttonset.p-button-danger>.p-button:enabled:active,
.p-splitbutton.p-button-danger>.p-button:enabled:active {
    background: #aa2424;
    color: #fff;
    border-color: #aa2424;
}

.p-button.p-button-danger.p-button-outlined,
.p-buttonset.p-button-danger>.p-button.p-button-outlined,
.p-splitbutton.p-button-danger>.p-button.p-button-outlined {
    background-color: transparent;
    color: #d32f2f;
    border: 1px solid;
}

.p-button.p-button-danger.p-button-outlined:enabled:hover,
.p-buttonset.p-button-danger>.p-button.p-button-outlined:enabled:hover,
.p-splitbutton.p-button-danger>.p-button.p-button-outlined:enabled:hover {
    background: rgba(211, 47, 47, 0.04);
    color: #d32f2f;
    border: 1px solid;
}

.p-button.p-button-danger.p-button-outlined:enabled:active,
.p-buttonset.p-button-danger>.p-button.p-button-outlined:enabled:active,
.p-splitbutton.p-button-danger>.p-button.p-button-outlined:enabled:active {
    background: rgba(211, 47, 47, 0.16);
    color: #d32f2f;
    border: 1px solid;
}

.p-button.p-button-danger.p-button-text,
.p-buttonset.p-button-danger>.p-button.p-button-text,
.p-splitbutton.p-button-danger>.p-button.p-button-text {
    background-color: transparent;
    color: #d32f2f;
    border-color: transparent;
}

.p-button.p-button-danger.p-button-text:enabled:hover,
.p-buttonset.p-button-danger>.p-button.p-button-text:enabled:hover,
.p-splitbutton.p-button-danger>.p-button.p-button-text:enabled:hover {
    background: rgba(211, 47, 47, 0.04);
    border-color: transparent;
    color: #d32f2f;
}

.p-button.p-button-danger.p-button-text:enabled:active,
.p-buttonset.p-button-danger>.p-button.p-button-text:enabled:active,
.p-splitbutton.p-button-danger>.p-button.p-button-text:enabled:active {
    background: rgba(211, 47, 47, 0.16);
    border-color: transparent;
    color: #d32f2f;
}

.p-button.p-button-link {
    color: #0b7ad1;
    background: 0 0;
    border: transparent;
}

.p-button.p-button-link:enabled:hover {
    background: 0 0;
    color: #0b7ad1;
    border-color: transparent;
}

.p-button.p-button-link:enabled:hover .p-button-label {
    text-decoration: underline;
}

.p-button.p-button-link:enabled:focus {
    background: 0 0;
    box-shadow: 0 0 0 0.2rem #a6d5fa;
    border-color: transparent;
}

.p-button.p-button-link:enabled:active {
    background: 0 0;
    color: #0b7ad1;
    border-color: transparent;
}

.p-speeddial-button.p-button.p-button-icon-only {
    width: 4rem;
    height: 4rem;
}

.p-speeddial-button.p-button.p-button-icon-only .p-button-icon {
    font-size: 1.3rem;
}

.p-speeddial-action {
    width: 3rem;
    height: 3rem;
    background: #495057;
    color: #fff;
}

.p-speeddial-action:hover {
    background: #343a40;
    color: #fff;
}

.p-speeddial-direction-up .p-speeddial-item {
    margin: 0.25rem 0;
}

.p-speeddial-direction-up .p-speeddial-item:first-child {
    margin-bottom: 0.5rem;
}

.p-speeddial-direction-down .p-speeddial-item {
    margin: 0.25rem 0;
}

.p-speeddial-direction-down .p-speeddial-item:first-child {
    margin-top: 0.5rem;
}

.p-speeddial-direction-left .p-speeddial-item {
    margin: 0 0.25rem;
}

.p-speeddial-direction-left .p-speeddial-item:first-child {
    margin-right: 0.5rem;
}

.p-speeddial-direction-right .p-speeddial-item {
    margin: 0 0.25rem;
}

.p-speeddial-direction-right .p-speeddial-item:first-child {
    margin-left: 0.5rem;
}

.p-speeddial-circle .p-speeddial-item,
.p-speeddial-circle .p-speeddial-item:first-child,
.p-speeddial-circle .p-speeddial-item:last-child,
.p-speeddial-quarter-circle .p-speeddial-item,
.p-speeddial-quarter-circle .p-speeddial-item:first-child,
.p-speeddial-quarter-circle .p-speeddial-item:last-child,
.p-speeddial-semi-circle .p-speeddial-item,
.p-speeddial-semi-circle .p-speeddial-item:first-child,
.p-speeddial-semi-circle .p-speeddial-item:last-child {
    margin: 0;
}

.p-speeddial-mask {
    background-color: rgba(0, 0, 0, 0.4);
}

.p-carousel .p-carousel-content .p-carousel-next,
.p-carousel .p-carousel-content .p-carousel-prev {
    width: 2rem;
    height: 2rem;
    color: #6c757d;
    border: 0;
    background: 0 0;
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    margin: 0.5rem;
}

.p-carousel .p-carousel-content .p-carousel-next:enabled:hover,
.p-carousel .p-carousel-content .p-carousel-prev:enabled:hover {
    color: #495057;
    border-color: transparent;
    background: #e9ecef;
}

.p-carousel .p-carousel-content .p-carousel-next:focus,
.p-carousel .p-carousel-content .p-carousel-prev:focus {
    outline: 0;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #a6d5fa;
}

.p-carousel .p-carousel-indicators {
    padding: 1rem;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator button {
    background-color: #e9ecef;
    width: 2rem;
    height: 0.5rem;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    border-radius: 0;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator button:hover {
    background: #dee2e6;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
    background: #e3f2fd;
    color: #495057;
}

.p-datatable .p-paginator-bottom,
.p-datatable .p-paginator-top {
    border-width: 0 0 1px;
    border-radius: 0;
}

.p-datatable .p-datatable-header {
    background: #fff;
    color: #495057;
    border: 1px solid #e9ecef;
    border-width: 1px 0;
    padding: 1rem;
    font-weight: 600;
}

.p-datatable .p-datatable-footer {
    background: #fff;
    color: #495057;
    border: 1px solid #e9ecef;
    border-width: 0 0 1px;
    padding: 1rem;
    font-weight: 600;
}

.p-datatable .p-datatable-thead>tr>th {
    text-align: left;
    padding: 1rem;
    border: 1px solid #e9ecef;
    border-width: 0 0 1px;
    font-weight: 600;
    color: #495057;
    background: #f8f9fa;
    transition: box-shadow 0.2s;
}

.p-datatable .p-datatable-tfoot>tr>td {
    text-align: left;
    padding: 1rem;
    border: 1px solid #e9ecef;
    border-width: 0 0 1px;
    font-weight: 600;
    color: #495057;
    background: #f8f9fa;
}

.p-datatable .p-sortable-column .p-sortable-column-icon {
    color: #6c757d;
    margin-left: 0.5rem;
}

.p-datatable .p-sortable-column .p-sortable-column-badge {
    border-radius: 50%;
    height: 1.143rem;
    min-width: 1.143rem;
    line-height: 1.143rem;
    color: #495057;
    background: #e3f2fd;
    margin-left: 0.5rem;
}

.p-datatable .p-sortable-column:not(.p-highlight):hover {
    background: #e9ecef;
    color: #495057;
}

.p-datatable .p-sortable-column:not(.p-highlight):hover .p-sortable-column-icon {
    color: #6c757d;
}

.p-datatable .p-sortable-column.p-highlight {
    background: #f8f9fa;
    color: #2358b7;
}

.p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon {
    color: #2358b7;
}

.p-datatable .p-sortable-column.p-highlight:hover {
    background: #e9ecef;
    color: #2358b7;
}

.p-datatable .p-sortable-column.p-highlight:hover .p-sortable-column-icon {
    color: #2358b7;
}

.p-datatable .p-sortable-column:focus {
    box-shadow: inset 0 0 0 0.15rem #a6d5fa;
    outline: 0;
}

.p-datatable .p-datatable-tbody>tr {
    background: #fff;
    color: #495057;
    transition: box-shadow 0.2s;
    outline-color: #a6d5fa;
}

.p-datatable .p-datatable-tbody>tr>td {
    text-align: left;
    border: 1px solid #e9ecef;
    border-width: 0 0 1px;
    padding: 1rem;
}

.p-datatable .p-datatable-tbody>tr>td .p-row-editor-cancel,
.p-datatable .p-datatable-tbody>tr>td .p-row-editor-init,
.p-datatable .p-datatable-tbody>tr>td .p-row-editor-save,
.p-datatable .p-datatable-tbody>tr>td .p-row-toggler {
    width: 2rem;
    height: 2rem;
    color: #6c757d;
    border: 0;
    background: 0 0;
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}

.p-datatable .p-datatable-tbody>tr>td .p-row-editor-cancel:enabled:hover,
.p-datatable .p-datatable-tbody>tr>td .p-row-editor-init:enabled:hover,
.p-datatable .p-datatable-tbody>tr>td .p-row-editor-save:enabled:hover,
.p-datatable .p-datatable-tbody>tr>td .p-row-toggler:enabled:hover {
    color: #495057;
    border-color: transparent;
    background: #e9ecef;
}

.p-datatable .p-datatable-tbody>tr>td .p-row-editor-cancel:focus,
.p-datatable .p-datatable-tbody>tr>td .p-row-editor-init:focus,
.p-datatable .p-datatable-tbody>tr>td .p-row-editor-save:focus,
.p-datatable .p-datatable-tbody>tr>td .p-row-toggler:focus {
    outline: 0;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #a6d5fa;
}

.p-datatable .p-datatable-tbody>tr>td .p-row-editor-save {
    margin-right: 0.5rem;
}

.p-datatable .p-datatable-tbody>tr.p-highlight {
    background: #e3f2fd;
    color: #495057;
}

.p-datatable .p-datatable-tbody>tr.p-datatable-dragpoint-top>td {
    box-shadow: inset 0 2px 0 0 #e3f2fd;
}

.p-datatable .p-datatable-tbody>tr.p-datatable-dragpoint-bottom>td {
    box-shadow: inset 0 -2px 0 0 #e3f2fd;
}

.p-datatable.p-datatable-hoverable-rows .p-datatable-tbody>tr:not(.p-highlight):hover {
    background: #e9ecef;
    color: #495057;
}

.p-datatable .p-column-resizer-helper {
    background: #2358b7;
}

.p-datatable .p-datatable-scrollable-footer,
.p-datatable .p-datatable-scrollable-header {
    background: #f8f9fa;
}

.p-datatable .p-datatable-loading-icon {
    font-size: 2rem;
}

.p-datatable.p-datatable-gridlines .p-datatable-header {
    border-width: 1px 1px 0;
}

.p-datatable.p-datatable-gridlines .p-datatable-footer {
    border-width: 0 1px 1px;
}

.p-datatable.p-datatable-gridlines .p-paginator-top {
    border-width: 0 1px;
}

.p-datatable.p-datatable-gridlines .p-paginator-bottom {
    border-width: 0 1px 1px;
}

.p-datatable.p-datatable-gridlines .p-datatable-tbody>tr>td,
.p-datatable.p-datatable-gridlines .p-datatable-tfoot>tr>td,
.p-datatable.p-datatable-gridlines .p-datatable-thead>tr>th {
    border-width: 1px;
}

.p-datatable.p-datatable-striped .p-datatable-tbody>tr:nth-child(even) {
    background: #fcfcfc;
}

.p-datatable.p-datatable-striped .p-datatable-tbody>tr:nth-child(even).p-highlight {
    background: #e3f2fd;
    color: #495057;
}

.p-datatable.p-datatable-striped .p-datatable-tbody>tr:nth-child(even).p-highlight .p-row-toggler,
.p-datatable.p-datatable-striped .p-datatable-tbody>tr:nth-child(even).p-highlight .p-row-toggler:hover {
    color: #495057;
}

.p-datatable.p-datatable-sm .p-datatable-footer,
.p-datatable.p-datatable-sm .p-datatable-header,
.p-datatable.p-datatable-sm .p-datatable-tbody>tr>td,
.p-datatable.p-datatable-sm .p-datatable-tfoot>tr>td,
.p-datatable.p-datatable-sm .p-datatable-thead>tr>th {
    padding: 0.5rem;
}

.p-datatable.p-datatable-lg .p-datatable-footer,
.p-datatable.p-datatable-lg .p-datatable-header,
.p-datatable.p-datatable-lg .p-datatable-tbody>tr>td,
.p-datatable.p-datatable-lg .p-datatable-tfoot>tr>td,
.p-datatable.p-datatable-lg .p-datatable-thead>tr>th {
    padding: 1.25rem;
}

.p-dataview .p-paginator-bottom,
.p-dataview .p-paginator-top {
    border-width: 0 0 1px;
    border-radius: 0;
}

.p-dataview .p-dataview-header {
    background: #f8f9fa;
    color: #495057;
    border: 1px solid #e9ecef;
    border-width: 1px 0;
    padding: 1rem;
    font-weight: 600;
}

.p-dataview .p-dataview-content {
    background: #fff;
    color: #495057;
    border: 0;
    padding: 0;
}

.p-dataview.p-dataview-list .p-dataview-content>.p-grid>div {
    border: solid #e9ecef;
    border-width: 0 0 1px;
}

.p-dataview .p-dataview-footer {
    background: #f8f9fa;
    color: #495057;
    border: 1px solid #e9ecef;
    border-width: 0 0 1px;
    padding: 1rem;
    font-weight: 600;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.p-dataview .p-dataview-loading-icon {
    font-size: 2rem;
}

.p-dataview .p-dataview-emptymessage {
    padding: 1rem;
}

.p-column-filter-row .p-column-filter-clear-button,
.p-column-filter-row .p-column-filter-menu-button {
    margin-left: 0.5rem;
}

.p-column-filter-menu-button {
    width: 2rem;
    height: 2rem;
    color: #6c757d;
    border: 0;
    background: 0 0;
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}

.p-column-filter-menu-button:hover {
    color: #495057;
    border-color: transparent;
    background: #e9ecef;
}

.p-column-filter-menu-button.p-column-filter-menu-button-open,
.p-column-filter-menu-button.p-column-filter-menu-button-open:hover {
    background: #e9ecef;
    color: #495057;
}

.p-column-filter-menu-button.p-column-filter-menu-button-active,
.p-column-filter-menu-button.p-column-filter-menu-button-active:hover {
    background: #e3f2fd;
    color: #495057;
}

.p-column-filter-menu-button:focus {
    outline: 0;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #a6d5fa;
}

.p-column-filter-clear-button {
    width: 2rem;
    height: 2rem;
    color: #6c757d;
    border: 0;
    background: 0 0;
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}

.p-column-filter-clear-button:hover {
    color: #495057;
    border-color: transparent;
    background: #e9ecef;
}

.p-column-filter-clear-button:focus {
    outline: 0;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #a6d5fa;
}

.p-column-filter-overlay {
    background: #fff;
    color: #495057;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
        0 1px 10px 0 rgba(0, 0, 0, 0.12);
    min-width: 12.5rem;
}

.p-column-filter-overlay .p-column-filter-row-items {
    padding: 0.5rem 0;
}

.p-column-filter-overlay .p-column-filter-row-items .p-column-filter-row-item {
    margin: 0;
    padding: 0.5rem 1rem;
    border: 0;
    color: #495057;
    background: 0 0;
    transition: box-shadow 0.2s;
    border-radius: 0;
}

.p-column-filter-overlay .p-column-filter-row-items .p-column-filter-row-item.p-highlight {
    color: #495057;
    background: #e3f2fd;
}

.p-column-filter-overlay .p-column-filter-row-items .p-column-filter-row-item:not(.p-highlight):not(.p-disabled):hover {
    color: #495057;
    background: #e9ecef;
}

.p-column-filter-overlay .p-column-filter-row-items .p-column-filter-row-item:focus {
    outline: 0;
    outline-offset: 0;
    box-shadow: inset 0 0 0 0.15rem #a6d5fa;
}

.p-column-filter-overlay .p-column-filter-row-items .p-column-filter-separator {
    border-top: 1px solid #dee2e6;
    margin: 0.25rem 0;
}

.p-column-filter-overlay-menu .p-column-filter-operator {
    padding: 0.5rem 1rem;
    border-bottom: 0;
    color: #495057;
    background: #f8f9fa;
    margin: 0;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.p-column-filter-overlay-menu .p-column-filter-constraint {
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
}

.p-column-filter-overlay-menu .p-column-filter-constraint .p-column-filter-matchmode-dropdown {
    margin-bottom: 0.5rem;
}

.p-column-filter-overlay-menu .p-column-filter-constraint .p-column-filter-remove-button {
    margin-top: 0.5rem;
}

.p-column-filter-overlay-menu .p-column-filter-constraint:last-child {
    border-bottom: 0;
}

.p-column-filter-overlay-menu .p-column-filter-add-rule {
    padding: 0.5rem 1rem;
}

.p-column-filter-overlay-menu .p-column-filter-buttonbar {
    padding: 1rem;
}

.fc.fc-unthemed .fc-view-container th {
    background: #f8f9fa;
    border: 1px solid #dee2e6;
    color: #495057;
}

.fc.fc-unthemed .fc-view-container td.fc-widget-content {
    background: #fff;
    border: 1px solid #dee2e6;
    color: #495057;
}

.fc.fc-unthemed .fc-view-container td.fc-head-container {
    border: 1px solid #dee2e6;
}

.fc.fc-unthemed .fc-view-container .fc-row {
    border-right: 1px solid #dee2e6;
}

.fc.fc-unthemed .fc-view-container .fc-event {
    background: #2358b7;
    border: 1px solid #2358b7;
    color: #fff;
}

.fc.fc-unthemed .fc-view-container .fc-divider {
    background: #f8f9fa;
    border: 1px solid #dee2e6;
}

.fc.fc-unthemed .fc-toolbar .fc-button {
    color: #fff;
    background: #2358b7;
    border: 1px solid #2358b7;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s,
        box-shadow 0.2s;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.fc.fc-unthemed .fc-toolbar .fc-button:enabled:hover {
    background: #2358b7;
    color: #fff;
    border-color: #2358b7;
}

.fc.fc-unthemed .fc-toolbar .fc-button:enabled:active {
    background: #0b7ad1;
    color: #fff;
    border-color: #0b7ad1;
}

.fc.fc-unthemed .fc-toolbar .fc-button:enabled:active:focus {
    outline: 0;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #a6d5fa;
}

.fc.fc-unthemed .fc-toolbar .fc-button .fc-icon-chevron-left {
    font-family: PrimeIcons !important;
    text-indent: 0;
    font-size: 1rem;
}

.fc.fc-unthemed .fc-toolbar .fc-button .fc-icon-chevron-left:before {
    content: '\e900';
}

.fc.fc-unthemed .fc-toolbar .fc-button .fc-icon-chevron-right {
    font-family: PrimeIcons !important;
    text-indent: 0;
    font-size: 1rem;
}

.fc.fc-unthemed .fc-toolbar .fc-button .fc-icon-chevron-right:before {
    content: '\e901';
}

.fc.fc-unthemed .fc-toolbar .fc-button:focus {
    outline: 0;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #a6d5fa;
}

.fc.fc-unthemed .fc-toolbar .fc-button.fc-dayGridMonth-button,
.fc.fc-unthemed .fc-toolbar .fc-button.fc-timeGridDay-button,
.fc.fc-unthemed .fc-toolbar .fc-button.fc-timeGridWeek-button {
    background: #fff;
    border: 1px solid #ced4da;
    color: #495057;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s,
        box-shadow 0.2s;
}

.fc.fc-unthemed .fc-toolbar .fc-button.fc-dayGridMonth-button:hover,
.fc.fc-unthemed .fc-toolbar .fc-button.fc-timeGridDay-button:hover,
.fc.fc-unthemed .fc-toolbar .fc-button.fc-timeGridWeek-button:hover {
    background: #e9ecef;
    border-color: #ced4da;
    color: #495057;
}

.fc.fc-unthemed .fc-toolbar .fc-button.fc-dayGridMonth-button.fc-button-active,
.fc.fc-unthemed .fc-toolbar .fc-button.fc-dayGridMonth-button.fc-button-active:hover,
.fc.fc-unthemed .fc-toolbar .fc-button.fc-timeGridDay-button.fc-button-active,
.fc.fc-unthemed .fc-toolbar .fc-button.fc-timeGridDay-button.fc-button-active:hover,
.fc.fc-unthemed .fc-toolbar .fc-button.fc-timeGridWeek-button.fc-button-active,
.fc.fc-unthemed .fc-toolbar .fc-button.fc-timeGridWeek-button.fc-button-active:hover {
    background: #2358b7;
    border-color: #2358b7;
    color: #fff;
}

.fc.fc-unthemed .fc-toolbar .fc-button.fc-dayGridMonth-button:focus,
.fc.fc-unthemed .fc-toolbar .fc-button.fc-timeGridDay-button:focus,
.fc.fc-unthemed .fc-toolbar .fc-button.fc-timeGridWeek-button:focus {
    outline: 0;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #a6d5fa;
    z-index: 1;
}

.fc.fc-unthemed .fc-toolbar .fc-button-group .fc-button {
    border-radius: 0;
}

.fc.fc-unthemed .fc-toolbar .fc-button-group .fc-button:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.fc.fc-unthemed .fc-toolbar .fc-button-group .fc-button:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.fc.fc-theme-standard .fc-view-harness .fc-scrollgrid {
    border-color: #dee2e6;
}

.fc.fc-theme-standard .fc-view-harness th {
    background: #f8f9fa;
    border-color: #dee2e6;
    color: #495057;
}

.fc.fc-theme-standard .fc-view-harness td {
    color: #495057;
    border-color: #dee2e6;
}

.fc.fc-theme-standard .fc-view-harness .fc-view {
    background: #fff;
}

.fc.fc-theme-standard .fc-view-harness .fc-popover {
    background: 0 0;
    border: 0;
}

.fc.fc-theme-standard .fc-view-harness .fc-popover .fc-popover-header {
    border: 1px solid #dee2e6;
    padding: 1rem;
    background: #f8f9fa;
    color: #495057;
}

.fc.fc-theme-standard .fc-view-harness .fc-popover .fc-popover-header .fc-popover-close {
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-family: PrimeIcons !important;
    font-size: 1rem;
    width: 2rem;
    height: 2rem;
    color: #6c757d;
    border: 0;
    background: 0 0;
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}

.fc.fc-theme-standard .fc-view-harness .fc-popover .fc-popover-header .fc-popover-close:before {
    content: '\e90b';
}

.fc.fc-theme-standard .fc-view-harness .fc-popover .fc-popover-header .fc-popover-close:enabled:hover {
    color: #495057;
    border-color: transparent;
    background: #e9ecef;
}

.fc.fc-theme-standard .fc-view-harness .fc-popover .fc-popover-header .fc-popover-close:focus {
    outline: 0;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #a6d5fa;
}

.fc.fc-theme-standard .fc-view-harness .fc-popover .fc-popover-body {
    padding: 1rem;
    border: 1px solid #dee2e6;
    background: #fff;
    color: #495057;
    border-top: 0;
}

.fc.fc-theme-standard .fc-view-harness .fc-event.fc-daygrid-block-event {
    color: #fff;
    background: #2358b7;
    border-color: #2358b7;
}

.fc.fc-theme-standard .fc-view-harness .fc-event.fc-daygrid-block-event .fc-event-main {
    color: #fff;
}

.fc.fc-theme-standard .fc-view-harness .fc-event.fc-daygrid-dot-event .fc-daygrid-event-dot {
    background: #2358b7;
    border-color: #2358b7;
}

.fc.fc-theme-standard .fc-view-harness .fc-event.fc-daygrid-dot-event:hover {
    background: #e9ecef;
    color: #495057;
}

.fc.fc-theme-standard .fc-view-harness .fc-cell-shaded {
    background: #f8f9fa;
}

.fc.fc-theme-standard .fc-toolbar .fc-button {
    color: #fff;
    background: #2358b7;
    border: 1px solid #2358b7;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s,
        box-shadow 0.2s;
    border-radius: 3px;
}

.fc.fc-theme-standard .fc-toolbar .fc-button:enabled:hover {
    background: #2358b7;
    color: #fff;
    border-color: #2358b7;
}

.fc.fc-theme-standard .fc-toolbar .fc-button:enabled:active {
    background: #0b7ad1;
    color: #fff;
    border-color: #0b7ad1;
}

.fc.fc-theme-standard .fc-toolbar .fc-button:enabled:active:focus {
    outline: 0;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #a6d5fa;
}

.fc.fc-theme-standard .fc-toolbar .fc-button:disabled {
    opacity: 0.6;
    color: #fff;
    background: #2358b7;
    border: 1px solid #2358b7;
}

.fc.fc-theme-standard .fc-toolbar .fc-button .fc-icon-chevron-left {
    font-family: PrimeIcons !important;
    text-indent: 0;
    font-size: 1rem;
}

.fc.fc-theme-standard .fc-toolbar .fc-button .fc-icon-chevron-left:before {
    content: '\e900';
}

.fc.fc-theme-standard .fc-toolbar .fc-button .fc-icon-chevron-right {
    font-family: PrimeIcons !important;
    text-indent: 0;
    font-size: 1rem;
}

.fc.fc-theme-standard .fc-toolbar .fc-button .fc-icon-chevron-right:before {
    content: '\e901';
}

.fc.fc-theme-standard .fc-toolbar .fc-button:focus {
    outline: 0;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #a6d5fa;
}

.fc.fc-theme-standard .fc-toolbar .fc-button.fc-dayGridMonth-button,
.fc.fc-theme-standard .fc-toolbar .fc-button.fc-timeGridDay-button,
.fc.fc-theme-standard .fc-toolbar .fc-button.fc-timeGridWeek-button {
    background: #fff;
    border: 1px solid #ced4da;
    color: #495057;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s,
        box-shadow 0.2s;
}

.fc.fc-theme-standard .fc-toolbar .fc-button.fc-dayGridMonth-button:hover,
.fc.fc-theme-standard .fc-toolbar .fc-button.fc-timeGridDay-button:hover,
.fc.fc-theme-standard .fc-toolbar .fc-button.fc-timeGridWeek-button:hover {
    background: #e9ecef;
    border-color: #ced4da;
    color: #495057;
}

.fc.fc-theme-standard .fc-toolbar .fc-button.fc-dayGridMonth-button.fc-button-active,
.fc.fc-theme-standard .fc-toolbar .fc-button.fc-dayGridMonth-button.fc-button-active:hover,
.fc.fc-theme-standard .fc-toolbar .fc-button.fc-timeGridDay-button.fc-button-active,
.fc.fc-theme-standard .fc-toolbar .fc-button.fc-timeGridDay-button.fc-button-active:hover,
.fc.fc-theme-standard .fc-toolbar .fc-button.fc-timeGridWeek-button.fc-button-active,
.fc.fc-theme-standard .fc-toolbar .fc-button.fc-timeGridWeek-button.fc-button-active:hover {
    background: #2358b7;
    border-color: #2358b7;
    color: #fff;
}

.fc.fc-theme-standard .fc-toolbar .fc-button.fc-dayGridMonth-button:not(:disabled):focus,
.fc.fc-theme-standard .fc-toolbar .fc-button.fc-timeGridDay-button:not(:disabled):focus,
.fc.fc-theme-standard .fc-toolbar .fc-button.fc-timeGridWeek-button:not(:disabled):focus {
    outline: 0;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #a6d5fa;
    z-index: 1;
}

.fc.fc-theme-standard .fc-toolbar .fc-button-group .fc-button {
    border-radius: 0;
}

.fc.fc-theme-standard .fc-toolbar .fc-button-group .fc-button:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.fc.fc-theme-standard .fc-toolbar .fc-button-group .fc-button:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.fc.fc-theme-standard a {
    color: #495057;
}

.fc.fc-theme-standard .fc-highlight {
    color: #495057;
    background: #e3f2fd;
}

.p-orderlist .p-orderlist-controls {
    padding: 1rem;
}

.p-orderlist .p-orderlist-controls .p-button {
    margin-bottom: 0.5rem;
}

.p-orderlist .p-orderlist-header {
    background: #f8f9fa;
    color: #495057;
    border: 1px solid #dee2e6;
    padding: 1rem;
    border-bottom: 0;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.p-orderlist .p-orderlist-header .p-orderlist-title {
    font-weight: 600;
}

.p-orderlist .p-orderlist-filter-container {
    padding: 1rem;
    background: #fff;
    border: 1px solid #dee2e6;
    border-bottom: 0;
}

.p-orderlist .p-orderlist-filter-container .p-orderlist-filter-input {
    padding-right: 1.5rem;
}

.p-orderlist .p-orderlist-filter-container .p-orderlist-filter-icon {
    right: 0.5rem;
    color: #6c757d;
}

.p-orderlist .p-orderlist-list {
    border: 1px solid #dee2e6;
    background: #fff;
    color: #495057;
    padding: 0.5rem 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.p-orderlist .p-orderlist-list .p-orderlist-item {
    padding: 0.5rem 1rem;
    margin: 0;
    border: 0;
    color: #495057;
    background: 0 0;
    transition: box-shadow 0.2s;
}

.p-orderlist .p-orderlist-list .p-orderlist-item:focus {
    outline: 0;
    outline-offset: 0;
    box-shadow: inset 0 0 0 0.15rem #a6d5fa;
}

.p-orderlist .p-orderlist-list .p-orderlist-item.p-highlight {
    color: #495057;
    background: #e3f2fd;
}

.p-orderlist .p-orderlist-list .p-orderlist-empty-message {
    padding: 0.5rem 1rem;
    color: #495057;
}

.p-orderlist .p-orderlist-list:not(.cdk-drop-list-dragging) .p-orderlist-item:not(.p-highlight):hover {
    background: #e9ecef;
    color: #495057;
}

.p-orderlist-item.cdk-drag-preview {
    padding: 0.5rem 1rem;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
        0 1px 10px 0 rgba(0, 0, 0, 0.12);
    border: 0;
    color: #495057;
    background: #fff;
    margin: 0;
}

.p-paginator {
    background: #fff;
    color: #6c757d;
    border: 0 solid #e9ecef;
    padding: 0.5rem 1rem;
    border-radius: 3px;
}

.p-paginator .p-paginator-first,
.p-paginator .p-paginator-last,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-prev {
    background-color: transparent;
    border: 0;
    color: #6c757d;
    min-width: 2.357rem;
    height: 2.357rem;
    margin: 0.143rem;
    transition: box-shadow 0.2s;
    border-radius: 3px;
}

.p-paginator .p-paginator-first:not(.p-disabled):not(.p-highlight):hover,
.p-paginator .p-paginator-last:not(.p-disabled):not(.p-highlight):hover,
.p-paginator .p-paginator-next:not(.p-disabled):not(.p-highlight):hover,
.p-paginator .p-paginator-prev:not(.p-disabled):not(.p-highlight):hover {
    background: #e9ecef;
    border-color: transparent;
    color: #495057;
}

.p-paginator .p-paginator-first {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.p-paginator .p-paginator-last {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.p-paginator .p-dropdown {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    height: 2.357rem;
}

.p-paginator .p-dropdown .p-dropdown-label {
    padding-right: 0;
}

.p-paginator .p-paginator-page-input {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.p-paginator .p-paginator-page-input .p-inputtext {
    max-width: 2.357rem;
}

.p-paginator .p-paginator-current {
    background-color: transparent;
    border: 0;
    color: #6c757d;
    min-width: 2.357rem;
    height: 2.357rem;
    margin: 1rem;
    padding: 0 0.5rem;
}

.p-paginator .p-paginator-pages .p-paginator-page {
    background-color: transparent;
    border: 0;
    color: #6c757d;
    min-width: 2.357rem;
    height: 2.357rem;
    margin: 0.143rem;
    transition: box-shadow 0.2s;
    border-radius: 3px;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background: #e3f2fd;
    border-color: #e3f2fd;
    color: #495057;
}

.p-paginator .p-paginator-pages .p-paginator-page:not(.p-highlight):hover {
    background: #e9ecef;
    border-color: transparent;
    color: #495057;
}

.p-virtualscroller .p-virtualscroller-header {
    background: #f8f9fa;
    color: #495057;
    border: 1px solid #e9ecef;
    border-width: 1px 0;
    padding: 1rem;
    font-weight: 600;
}

.p-virtualscroller .p-virtualscroller-content {
    background: #fff;
    color: #495057;
    border: 0;
    padding: 0;
}

.p-virtualscroller .p-virtualscroller-footer {
    background: #f8f9fa;
    color: #495057;
    border: 1px solid #e9ecef;
    border-width: 0 0 1px;
    padding: 1rem;
    font-weight: 600;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.p-card {
    background: #fff;
    color: #495057;
    box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.12),
        0 1px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
        0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    margin-top: 1px;
}

.p-card .p-card-body {
    padding: 1rem;
}

.p-card .p-card-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.p-card .p-card-subtitle {
    font-weight: 400;
    margin-bottom: 0.5rem;
    color: #6c757d;
}

.p-card .p-card-content {
    padding: 1rem 0;
}

.p-card .p-card-footer {
    padding: 1rem 0 0;
}

.p-panel .p-panel-header {
    border: 1px solid #dee2e6;
    padding: 1rem;
    background: #f8f9fa;
    color: #495057;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.p-panel .p-panel-header .p-panel-title {
    font-weight: 600;
}

.p-panel .p-panel-header .p-panel-header-icon {
    width: 2rem;
    height: 2rem;
    color: #6c757d;
    border: 0;
    background: 0 0;
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}

.p-panel .p-panel-header .p-panel-header-icon:enabled:hover {
    color: #495057;
    border-color: transparent;
    background: #e9ecef;
}

.p-panel .p-panel-header .p-panel-header-icon:focus {
    outline: 0;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #a6d5fa;
}

.p-panel.p-panel-toggleable .p-panel-header {
    padding: 0.5rem 1rem;
}

.p-panel .p-panel-content {
    padding: 1rem;
    border: 1px solid #dee2e6;
    background: #fff;
    color: #495057;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 0;
}

.p-panel .p-panel-footer {
    padding: 0.5rem 1rem;
    border: 1px solid #dee2e6;
    background: #fff;
    color: #495057;
    border-top: 0;
}

.p-scrollpanel .p-scrollpanel-bar {
    background: #f8f9fa;
    border: 0;
}

.p-splitter {
    border: 1px solid #dee2e6;
    background: #fff;
    border-radius: 3px;
    color: #495057;
}

.p-toolbar {
    background: #fff;
    border: 1px solid #dee2e6;
    padding: 1rem;
    border-radius: 3px;
}

.p-toolbar .p-toolbar-separator {
    margin: 0 0.5rem;
}

.p-confirm-popup {
    background: #fff;
    color: #495057;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2),
        0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
}

.p-confirm-popup .p-confirm-popup-content {
    padding: 1rem;
}

.p-confirm-popup .p-confirm-popup-footer {
    text-align: right;
    padding: 0.5rem 1rem;
}

.p-confirm-popup .p-confirm-popup-footer button {
    margin: 0 0.5rem 0 0;
    width: auto;
}

.p-confirm-popup .p-confirm-popup-footer button:last-child {
    margin: 0;
}

.p-confirm-popup:after,
.p-confirm-popup:before {
    border: solid rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
}

.p-confirm-popup.p-confirm-popup-flipped:after,
.p-confirm-popup.p-confirm-popup-flipped:before {
    border-top-color: #fff;
}

.p-confirm-popup .p-confirm-popup-icon {
    font-size: 1.5rem;
}

.p-confirm-popup .p-confirm-popup-message {
    margin-left: 1rem;
}

.p-dialog {
    border-radius: 3px;
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2),
        0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
    border: 0;
}

.p-dialog .p-dialog-header {
    border-bottom: 0;
    background: #fff;
    color: #495057;
    padding: 1.5rem;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.p-dialog .p-dialog-header .p-dialog-title {
    font-weight: 600;
    font-size: 1.25rem;
}

.p-dialog .p-dialog-header .p-dialog-header-icon {
    width: 2rem;
    height: 2rem;
    color: #6c757d;
    border: 0;
    background: 0 0;
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    margin-right: 0.5rem;
}

.p-dialog .p-dialog-header .p-dialog-header-icon:enabled:hover {
    color: #495057;
    border-color: transparent;
    background: #e9ecef;
}

.p-dialog .p-dialog-header .p-dialog-header-icon:focus {
    outline: 0;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #a6d5fa;
}

.p-dialog .p-dialog-header .p-dialog-header-icon:last-child {
    margin-right: 0;
}

.p-dialog .p-dialog-content {
    background: #fff;
    color: #495057;
    padding: 0 1.5rem 2rem;
}

.p-dialog .p-dialog-footer {
    border-top: 0;
    background: #fff;
    color: #495057;
    padding: 0 1.5rem 1.5rem;
    text-align: right;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.p-dialog .p-dialog-footer button {
    margin: 0 0.5rem 0 0;
    width: auto;
}

.p-dialog.p-confirm-dialog .p-confirm-dialog-icon {
    font-size: 2rem;
}

.p-dialog.p-confirm-dialog .p-confirm-dialog-message {
    margin-left: 1rem;
}

.p-overlaypanel {
    background: #fff;
    color: #495057;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2),
        0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
}

.p-overlaypanel .p-overlaypanel-content {
    padding: 1rem;
}

.p-overlaypanel .p-overlaypanel-close {
    background: #2358b7;
    color: #fff;
    width: 2rem;
    height: 2rem;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    border-radius: 50%;
    position: absolute;
    top: -1rem;
    right: -1rem;
}

.p-overlaypanel .p-overlaypanel-close:enabled:hover {
    background: #2358b7;
    color: #fff;
}

.p-overlaypanel:after,
.p-overlaypanel:before {
    border: solid rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
}

.p-overlaypanel.p-overlaypanel-flipped:after,
.p-overlaypanel.p-overlaypanel-flipped:before {
    border-top-color: #fff;
}

.p-tooltip .p-tooltip-text {
    background: #495057;
    color: #fff;
    padding: 0.5rem;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
        0 1px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 3px;
}

.p-tooltip.p-tooltip-right .p-tooltip-arrow {
    border-right-color: #495057;
}

.p-tooltip.p-tooltip-left .p-tooltip-arrow {
    border-left-color: #495057;
}

.p-tooltip.p-tooltip-top .p-tooltip-arrow {
    border-top-color: #495057;
}

.p-tooltip.p-tooltip-bottom .p-tooltip-arrow {
    border-bottom-color: #495057;
}

.p-fileupload .p-fileupload-buttonbar {
    background: #f8f9fa;
    padding: 1rem;
    border: 1px solid #dee2e6;
    color: #495057;
    border-bottom: 0;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.p-fileupload .p-fileupload-buttonbar .p-button {
    margin-right: 0.5rem;
}

.p-fileupload .p-fileupload-buttonbar .p-button.p-fileupload-choose.p-focus {
    outline: 0;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #a6d5fa;
}

.p-fileupload .p-fileupload-content {
    background: #fff;
    padding: 2rem 1rem;
    border: 1px solid #dee2e6;
    color: #495057;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.p-fileupload .p-progressbar {
    height: 0.25rem;
}

.p-fileupload .p-fileupload-row>div {
    padding: 1rem;
}

.p-fileupload.p-fileupload-advanced .p-message {
    margin-top: 0;
}

.p-fileupload-choose:not(.p-disabled):hover {
    background: #2358b7;
    color: #fff;
    border-color: #2358b7;
}

.p-fileupload-choose:not(.p-disabled):active {
    background: #0b7ad1;
    color: #fff;
    border-color: #0b7ad1;
}

.p-menubar {
    width: 100%;
    padding: 0.5rem;
    background: #2358b7;
    color: #495057;
    border: 1px solid #dee2e6;
    border-radius: 3px;
    margin: 0;
    position: relative;
}

.p-menubar .p-menuitem-link {
    padding: 0.75rem 1rem;
    color: #495057;
    border-radius: 0;
    transition: box-shadow 0.2s;
    user-select: none;
}

.p-menubar .p-menuitem-link .p-menuitem-text {
    color: #495057;
}

.p-menubar .p-menuitem-link .p-menuitem-icon {
    color: #6c757d;
    margin-right: 0.5rem;
}

.p-menubar .p-menuitem-link .p-submenu-icon {
    color: #6c757d;
}

.p-menubar .p-menuitem-link:not(.p-disabled):hover {
    background: #e9ecef;
}

.p-menubar .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
    color: #495057;
}

.p-menubar .p-menuitem-link:not(.p-disabled):hover .p-menuitem-icon,
.p-menubar .p-menuitem-link:not(.p-disabled):hover .p-submenu-icon {
    color: #6c757d;
}

.p-menubar .p-menuitem-link:focus {
    outline: 0;
    outline-offset: 0;
    box-shadow: inset 0 0 0 0.15rem #a6d5fa;
}

.p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link {
    padding: 0.75rem 1rem;
    color: #495057;
    border-radius: 3px;
    transition: box-shadow 0.2s;
    user-select: none;
}

.p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link .p-menuitem-text {
    color: #495057;
}

.p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link .p-menuitem-icon {
    color: #6c757d;
    margin-right: 0.5rem;
}

.p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link .p-submenu-icon {
    color: #6c757d;
    margin-left: 0.5rem;
}

.p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link:not(.p-disabled):hover {
    background: #e9ecef;
}

.p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
    color: #495057;
}

.p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link:not(.p-disabled):hover .p-menuitem-icon,
.p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link:not(.p-disabled):hover .p-submenu-icon {
    color: #6c757d;
}

.p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link:focus {
    outline: 0;
    outline-offset: 0;
    box-shadow: inset 0 0 0 0.15rem #a6d5fa;
}

.p-menubar .p-menubar-root-list>.p-menuitem.p-menuitem-active>.p-menuitem-link,
.p-menubar .p-menubar-root-list>.p-menuitem.p-menuitem-active>.p-menuitem-link:not(.p-disabled):hover {
    background: #e9ecef;
}

.p-menubar .p-menubar-root-list>.p-menuitem.p-menuitem-active>.p-menuitem-link .p-menuitem-text,
.p-menubar .p-menubar-root-list>.p-menuitem.p-menuitem-active>.p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
    color: #495057;
}

.p-menubar .p-menubar-root-list>.p-menuitem.p-menuitem-active>.p-menuitem-link .p-menuitem-icon,
.p-menubar .p-menubar-root-list>.p-menuitem.p-menuitem-active>.p-menuitem-link .p-submenu-icon,
.p-menubar .p-menubar-root-list>.p-menuitem.p-menuitem-active>.p-menuitem-link:not(.p-disabled):hover .p-menuitem-icon,
.p-menubar .p-menubar-root-list>.p-menuitem.p-menuitem-active>.p-menuitem-link:not(.p-disabled):hover .p-submenu-icon {
    color: #6c757d;
}

.p-menubar .p-submenu-list {
    padding: 0.25rem 0;
    background: #fff;
    border: 0;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
        0 1px 10px 0 rgba(0, 0, 0, 0.12);
    width: 12.5rem;
}

.p-menubar .p-submenu-list .p-menu-separator {
    border-top: 1px solid #dee2e6;
    margin: 0.25rem 0;
}

.p-menubar .p-submenu-list .p-submenu-icon {
    font-size: 0.875rem;
}

.p-menubar .p-submenu-list .p-menuitem,
.p-menubar .p-submenu-list .p-menuitem:last-child {
    margin: 0;
}

.p-menubar .p-menuitem.p-menuitem-active>.p-menuitem-link {
    background: #e9ecef;
}

.p-menubar .p-menuitem.p-menuitem-active>.p-menuitem-link .p-menuitem-text {
    color: #495057;
}

.p-menubar .p-menuitem.p-menuitem-active>.p-menuitem-link .p-menuitem-icon,
.p-menubar .p-menuitem.p-menuitem-active>.p-menuitem-link .p-submenu-icon {
    color: #6c757d;
}

@media screen and (max-width: 960px) {
    .p-menubar .p-menubar-button {
        color: #fff;
    }

    .p-menubar .p-menubar-button:hover {
        color: #dd4b3c;
        background: #e9ecef;
    }

    .p-menubar .p-menubar-button:focus {
        outline: 0;
        outline-offset: 0;
        box-shadow: 0 0 0 0.2rem #a6d5fa;
    }

    .p-menubar .p-menubar-root-list {
        position: absolute;
        display: none;
        padding: 0.25rem 0;
        background: #fff;
        border: 0;
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
            0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
        width: 100%;
    }

    .p-menubar .p-menubar-root-list .p-menu-separator {
        border-top: 1px solid #dee2e6;
        margin: 0.25rem 0;
    }

    .p-menubar .p-menubar-root-list .p-submenu-icon {
        font-size: 0.875rem;
    }

    .p-menubar .p-menubar-root-list>.p-menuitem {
        width: 100%;
        position: static;
    }

    .p-menubar .p-menubar-root-list .p-submenu-list {
        width: 100%;
        position: static;
        box-shadow: none;
        border: 0;
    }

    .p-menubar .p-menubar-root-list .p-submenu-list .p-submenu-icon {
        transition: transform 0.2s;
        transform: rotate(90deg);
    }

    .p-menubar .p-menubar-root-list .p-submenu-list .p-menuitem-active>.p-menuitem-link>.p-submenu-icon {
        transform: rotate(-90deg);
    }

    .p-menubar .p-menubar-root-list .p-menuitem {
        width: 100%;
        position: static;
    }

    .p-menubar .p-menubar-root-list ul li a {
        padding-left: 2.25rem;
    }

    .p-menubar .p-menubar-root-list ul li ul li a {
        padding-left: 3.75rem;
    }

    .p-menubar .p-menubar-root-list ul li ul li ul li a {
        padding-left: 5.25rem;
    }

    .p-menubar .p-menubar-root-list ul li ul li ul li ul li a {
        padding-left: 6.75rem;
    }

    .p-menubar .p-menubar-root-list ul li ul li ul li ul li ul li a {
        padding-left: 8.25rem;
    }

    .p-menubar.p-menubar-mobile-active .p-menubar-root-list {
        display: flex;
        flex-direction: column;
        top: 100%;
        left: 0;
        z-index: 1;
    }
}

.p-tieredmenu {
    width: 16rem;
    margin-left: 0;
    margin-top: 1.1rem;
}

.p-tieredmenu .p-menuitem-link .p-menuitem-text {
    color: #47739f;
}

.p-tieredmenu.p-tieredmenu-overlay {
    padding: 0;
    border: 0;
    color: #47739f;
    background: #f8f9fa;
    border-radius: 3px;
}

.p-tieredmenu .p-menuitem-link {
    padding: 1rem;
    border: 1px solid #dee2e6;
    color: #47739f;
    background: #cbe1e733;
    font-weight: 600;
    border-radius: 3px;
    transition: box-shadow 0.2s;
}

.p-steps .p-steps-item .p-menuitem-link {
    background: #fff;
    transition: box-shadow 0.2s;
    border-radius: 3px;
}

.p-steps .p-steps-item .p-menuitem-link .p-steps-number {
    color: #495057;
    border: 1px solid #e9ecef;
    background: #fff;
    min-width: 2rem;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.143rem;
    z-index: 1;
    border-radius: 50%;
}

.p-steps .p-steps-item .p-menuitem-link .p-steps-title {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: #6c757d;
}

.p-steps .p-steps-item .p-menuitem-link:not(.p-disabled):focus {
    outline: 0;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #a6d5fa;
}

.p-steps .p-steps-item.p-highlight .p-steps-number {
    background: #e3f2fd;
    color: #000;
}

.p-steps .p-steps-item.p-highlight .p-steps-title {
    font-weight: 600;
    color: #495057;
}

.p-steps .p-steps-item:before {
    content: ' ';
    border-top: 1px solid #dee2e6;
    width: 100%;
    top: 50%;
    left: 0;
    display: block;
    position: absolute;
    margin-top: -1rem;
}

.p-message {
    margin: 1rem 0;
    border-radius: 3px;
}

.p-message .p-message-wrapper {
    padding: 1rem 1.5rem;
}

.p-message .p-message-close {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: 0 0;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}

.p-message .p-message-close:hover {
    background: rgba(255, 255, 255, 0.3);
}

.p-message .p-message-close:focus {
    outline: 0;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #a6d5fa;
}

.p-message.p-message-info {
    background: #b3e5fc;
    border: solid #0891cf;
    border-width: 0 0 0 6px;
    color: #044868;
}

.p-message.p-message-info .p-message-close,
.p-message.p-message-info .p-message-icon {
    color: #044868;
}

.p-message.p-message-success {
    background: #c8e6c9;
    border: solid #439446;
    border-width: 0 0 0 6px;
    color: #224a23;
}

.p-message.p-message-success .p-message-close,
.p-message.p-message-success .p-message-icon {
    color: #224a23;
}

.p-message.p-message-warn {
    background: #ffecb3;
    border: solid #d9a300;
    border-width: 0 0 0 6px;
    color: #6d5100;
}

.p-message.p-message-warn .p-message-close,
.p-message.p-message-warn .p-message-icon {
    color: #6d5100;
}

.p-message.p-message-error {
    background: #ffcdd2;
    border: solid #e60017;
    border-width: 0 0 0 6px;
    color: #73000c;
}

.p-message.p-message-error .p-message-close,
.p-message.p-message-error .p-message-icon {
    color: #73000c;
}

.p-message .p-message-text {
    font-size: 1rem;
    font-weight: 500;
}

.p-message .p-message-icon {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.p-message .p-message-summary {
    font-weight: 700;
}

.p-message .p-message-detail {
    margin-left: 0.5rem;
}

.p-toast {
    opacity: 0.9;
}

.p-toast .p-toast-message {
    margin: 0 0 1rem;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
        0 1px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 3px;
}

.p-toast .p-toast-message .p-toast-message-content {
    padding: 1rem;
    border-width: 0 0 0 6px;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-message-text {
    margin: 0 0 0 1rem;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-message-icon {
    font-size: 2rem;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-summary {
    font-weight: 700;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-detail {
    margin: 0.5rem 0 0;
}

.p-toast .p-toast-message .p-toast-icon-close {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: 0 0;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}

.p-toast .p-toast-message .p-toast-icon-close:hover {
    background: rgba(255, 255, 255, 0.3);
}

.p-toast .p-toast-message .p-toast-icon-close:focus {
    outline: 0;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #a6d5fa;
}

.p-toast .p-toast-message.p-toast-message-info {
    background: #b3e5fc;
    border: solid #0891cf;
    border-width: 0 0 0 6px;
    color: #044868;
}

.p-toast .p-toast-message.p-toast-message-info .p-toast-icon-close,
.p-toast .p-toast-message.p-toast-message-info .p-toast-message-icon {
    color: #044868;
}

.p-toast .p-toast-message.p-toast-message-success {
    background: #c8e6c9;
    border: solid #439446;
    border-width: 0 0 0 6px;
    color: #224a23;
}

.p-toast .p-toast-message.p-toast-message-success .p-toast-icon-close,
.p-toast .p-toast-message.p-toast-message-success .p-toast-message-icon {
    color: #224a23;
}

.p-toast .p-toast-message.p-toast-message-warn {
    background: #ffecb3;
    border: solid #d9a300;
    border-width: 0 0 0 6px;
    color: #6d5100;
}

.p-toast .p-toast-message.p-toast-message-warn .p-toast-icon-close,
.p-toast .p-toast-message.p-toast-message-warn .p-toast-message-icon {
    color: #6d5100;
}

.p-toast .p-toast-message.p-toast-message-error {
    background: #ffcdd2;
    border: solid #e60017;
    border-width: 0 0 0 6px;
    color: #73000c;
}

.p-toast .p-toast-message.p-toast-message-error .p-toast-icon-close,
.p-toast .p-toast-message.p-toast-message-error .p-toast-message-icon {
    color: #73000c;
}

.layout-content-wrapper {
    width: 100%;
}

@media (max-width: 978px) {
    .logo {
        margin-left: 10px;
    }

    .p-menubar {
        width: 100%;
    }

    .layout-sidebar,
    .menus {
        display: none;
    }

    .menusmall {
        display: inline;
    }

    .layout-content-wrapper {
        margin-left: 0;
        width: 100%;
    }

    .p-steps .p-steps-item .p-menuitem-link .p-steps-title {
        display: none;
    }

    .p-steps .p-steps-item.p-highlight .p-steps-number {
        margin-bottom: 1rem;
    }

    p-multiselect {
        width: 19rem;
    }

    .p-paginator .p-paginator-first {
        background-color: transparent;
        border: 0;
        color: #6c757d;
        min-width: 2.357rem;
        height: 2.357rem;
        margin-left: 2rem;
        transition: box-shadow 0.2s;
        border-radius: 3px;
    }
}

.p-multiselect {
    min-width: 15rem;
    width: 18rem;
}

:host ::ng-deep .p-multiselect {
    min-width: 15rem;
    width: 18rem;
}

.xng-breadcrumb-trail {
    text-align: right !important;
    float: right !important;
    color: #2358b7 !important;
    align-items: flex-end !important;
}

.xng-breadcrumb-root {
    margin: 0.5rem !important;
    color: #2358b7 !important;
}

.pi-home {
    font-size: 1.5rem;
}

.loading-indicator {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
.loading-indicator:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.53);
}

.p-fieldset .p-fieldset-legend {
    height: 5rem !important;
    width: 270px !important;
}

.fieldsetDialog {
    width: 270px !important;
}

.p-scrollpanel .p-scrollpanel-bar {
    background: #f8f9fa;
    border: 0 none;
}

.p-scrolltop {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
        0 1px 10px 0 rgba(0, 0, 0, 0.12);
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}

.p-scrolltop.p-link {
    background: rgba(0, 0, 0, 0.7);
}

.p-scrolltop.p-link:hover {
    background: rgba(0, 0, 0, 0.8);
}

.p-scrolltop .p-scrolltop-icon {
    font-size: 1.5rem;
    color: #f8f9fa;
}

.p-badge {
    display: inline-block;
    border-radius: 30px;
    text-align: center;
    padding: 0 0.5rem;
    background-color: #2358b7;
}

.border {
    border: 2px solid #2358b7;
}

.progress-spinner {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
.progress-spinner:before {
    content: '';
    display: block;
    position: fixed;
    animation-duration: 0.2s;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.53);
}

.p-colorpicker {
    display: inline-block;
}

.p-colorpicker-dragging {
    cursor: pointer;
}

.p-colorpicker-overlay {
    position: relative;
}

.p-colorpicker-panel {
    position: relative;
    width: 193px;
    height: 166px;
}

.p-colorpicker-overlay-panel {
    position: absolute;
    top: 0;
    left: 0;
}

.p-colorpicker-preview {
    cursor: pointer;
}

.p-colorpicker-panel .p-colorpicker-content {
    position: relative;
}

.p-colorpicker-panel .p-colorpicker-color-selector {
    width: 150px;
    height: 150px;
    top: 8px;
    left: 8px;
    position: absolute;
}

.p-colorpicker-panel .p-colorpicker-color {
    width: 150px;
    height: 150px;
}

.p-colorpicker-panel .p-colorpicker-color-handle {
    position: absolute;
    top: 0px;
    left: 150px;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    border-width: 1px;
    border-style: solid;
    margin: -5px 0 0 -5px;
    cursor: pointer;
    opacity: .85;
}

.p-colorpicker-panel .p-colorpicker-hue {
    width: 17px;
    height: 150px;
    top: 8px;
    left: 167px;
    position: absolute;
    opacity: .85;
}

.p-colorpicker-panel .p-colorpicker-hue-handle {
    position: absolute;
    top: 150px;
    left: 0px;
    width: 21px;
    margin-left: -2px;
    margin-top: -5px;
    height: 10px;
    border-width: 2px;
    border-style: solid;
    opacity: .85;
    cursor: pointer;
}